html, body{
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
}
img{
    max-width: 100%;
}
body{
    font-size: 23px;
    color: #000000;
    line-height: 26px;
    background-color: white;
}
*{
    box-sizing: border-box;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}


.site-header {
    height: 98px;
    background-color: #ffffff;
}
.site-header .brand-logo{
    margin: 5px;
    float: left;
}
.site-header .main-menu{
    margin: 15px;
    float: right;
}
.site-header .main-menu ul li{
    margin: 20px;
    display: inline;
}
.site-header .main-menu ul li a{
    text-decoration: none;
    color: #000000;
}
.site-header .main-menu ul li a:hover{
    color: red;
}
.site-slider-box {
    position: relative;
    margin-left: 40px;
}
.slider-outer-text{
    position: absolute;
    left: 0px;
    top: 40px;
    width: 100%;
    bottom: 0px;
}
.slider-text {
    width: 300px;
    height: 300px;
}
.slider-text h2{
    width: 500px;
    font-size: 50px;
}
.slider-outer-text a{
    position: absolute;
    top: 280px;
    color: #000000;
    text-decoration: none;
    font-size: 30px;
}
.btn {
    background-color: #656565;
    padding: 12px 70px;
    text-decoration: none;
    display: inline-block;
    color: black;
}
.btn--aqua{
    border-radius: 15px;
    font-weight: bold;
    background-color:#00e8f7;
}
.feature-body{
    clear: both;
}

.product {
    background-color: #2b7dc5;
    height: 450px;
}
.product-text{
    height: 440px;
    position: relative;
}
.product-text img{
    top: 0px;
    right: 30px;
    position: absolute;
}

.btn--border {
    border: 3px solid black;
    border-radius: 8px;
    position: absolute;
    background-color: #feb801;
    margin: 310px 0px 0px 86px;
}

.product .btn {
    width: 180px;
    height: 120px;
}
.product .btn p{
    padding: 9px 0px 3px 0px;
}
.site-footer {
    height: 120px;
    width: 100%;
    background-color: #cc9167;
    margin-top: 5px;
}
.footer-text p {
    text-align: center;
    color: #ffffff;
}
.foot-info-right > *{
    display: inline-block;
    vertical-align: middle;
}

#namaste {
  padding-top: 28px;
}

#shop {
  padding: 14px;
}

/* dropdown */

.categories {
  margin-left: 600px;
}

.categories a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.category_1 {
  height: 70px;
  width: 280px;
  background-color: black;
  border-radius: 5px;
  padding: 16px;
}

.category_2 {
  height: 70px;
  width: 280px;
  background-color: black;
  border-radius: 5px;
  padding: 16px;
}

.category_3 {
  height: 70px;
  width: 280px;
  background-color: black;
  border-radius: 5px;
  padding: 16px;
}

.category_4 {
  height: 70px;
  width: 280px;
  background-color: black;
  border-radius: 5px;
  padding: 16px;
}

.category_5 {
  height: 70px;
  width: 280px;
  background-color: black;
  border-radius: 5px;
  padding: 16px;
}

.category_6 {
  height: 70px;
  width: 280px;
  background-color: black;
  border-radius: 5px;
  padding: 16px;
}

.category_7 {
  height: 70px;
  width: 280px;
  background-color: black;
  border-radius: 5px;
  padding: 16px;
}

.category_8 {
  height: 70px;
  width: 280px;
  background-color: black;
  border-radius: 5px;
  padding: 16px;
}
